<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    
    <script> 
       function localTime() {
            var time, local;
            setInterval(() => {
            time = new Date();
            local = time.toLocaleTimeString();
            date = time.toLocaleDateString();
            document.getElementById('time').innerHTML = local;
            document.getElementById('date').innerHTML = date;
            }, 500)
        }
      

        function getLocation() {
            
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
            }

        function showPosition(position) {
            var x = document.getElementById("location");
            console.log(position);
            x.innerHTML ="Your current location :<br/>"+ "<em>Latitude<em/>: " + position.coords.latitude +
            "<br/><em>Longitude<em/>: " + position.coords.longitude;
            //  const data ={
            //      lat:position.coords.latitude, 
            //     lon: position.coords.longitude
            //  };
            /*  const options ={
                method :"POST",
                body:JSON.stringify(data),
                headers:{
                    'Content-Type':"application/json"
                } 
             };
             fetch('/',options); */
        } 

      
    </script>
    </head>

    
</head>
<body onload="{localTime(),getLocation()}">
    <div >
    <div class="grid-container">
        <h1  class="heading " >Weather App</h1>
        <h5 id="time"></h4>
        <h5 id="date"></h4>
        
        <div class="grid1" >
            <form action="/" method="post">
                <div class="cityInput input-group-prepend">
                    <input type="text" name="city" class="form-control" placeholder="Enter your city...">
                </div>
                <input type="submit" class="btn btn-info">
            </form>
        
               
        </div>
        <p id="location"></p>
        <div class="output">
            <% if(weather!==null){ %>
            <table class="table table-borderless table-dark"><thead><th ><h3><%=weather.name%></h3> [Lon:<%=weather.coord.lon %>, Lat<%=weather.coord.lat %>]</th></thead>
                <tr>
                    <td>Temprature</td>
                    <td> <span> <%=weather.main.temp %></span>&degC (min:<%=weather.main.temp_min %> ,max: <%=weather.main.temp_max %>)</td>
                </tr>
                <tr>
                    <td>Pressure</td>
                    <td><%=weather.main.pressure %> hPa</td>
                </tr>
                <tr>
                    <td>Humidity</td>
                    <td><%=weather.main.humidity %>%</td>
                </tr>
            
                <tr>
                    <td>Visibility</td>
                    <td><%=weather.visibility%> meter</td>
                </tr>
                <tr>
                    <td>Wind</td>
                    <td><%=weather.wind.speed%>mps,<%=weather.wind.deg%>&deg</td>
                </tr>
                
            </table>
            <% } %>            
            <% if(error !== null){ %>
            <p><%= error %></p>
            <% } %>
        </div>
    </div>
</div>
</body>
</html>


